body {
  background-image: url(../images/bg.jpg);
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

body h1 {
  text-align: center;
  color: green;
}

.galerie {
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.galerie img{
  max-width: 230px;
  border: 1px solid white;
}